.false {
	background-color: deepskyblue;
}

.true {
	background-color: brown;
	color: white;
}

td {
	border: 3px solid black;
	width: 125px;
	box-sizing: none;
}
.container {
	width: 800px;
	background: tan;
}